@import './fonts';
@import './cores';

@mixin default {
    font-family: $font-Poppins;
    line-height: 1.5rem;
    margin-top: 6rem;
}

@mixin titulo {
    color: $preto-azulado;
    font-weight: 700;
    font-size: 2rem;
}

@mixin texto {
    color: $cinza;
}

@mixin flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

